<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-info col-md-30">
      <div class="panel">
        <div class="panel-body bio-graph-info">
          <h1>Information Compte Client</h1>
          <div class="row">
            <div class="bio-row">
              <p><span>Nom </span>: Camila</p>
            </div>
            <div class="bio-row">
              <p><span>Prénom </span>: Smith</p>
            </div>

            <div class="bio-row">
              <p><span>Adresse Email </span>: jsmith@flatlab.com</p>
            </div>
            <div class="bio-row">
              <p><span>Numéro de télèphone </span>: (12) 03 4567890</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>