<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="text-center">
        <div class="title">Modifier </div>
      </div><br>
      <form #RestPassForm="ngForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
        <span class="login100-form-title p-b-26">
          <img class="mb-4" src="assets/beebeep.png" alt="" width="70" height="70">
        </span>
        <div class="form-group">
          <input type="text" name="email" required [(ngModel)]="form.email" />
          <label>E-mail</label>
        </div>
        <!-- nom validation end here -->
        <div class="alert alert-feedback">
          <div class="lert" [hidden]="!error.email"> {{error.email}} </div>
        </div> 
        <!-- End email -->

        <div class="form-group">
          <input type="password" name="password" required [(ngModel)]="form.password"/>
          <label>Mot de passe</label>
        </div>
        <!-- nom validation end here -->
        <div class="alert alert-feedback">
          <div class="lert" [hidden]="!error.password">
            {{error.password}}
          </div>
        </div>
  <!-- nom validation end here -->
        <div class="form-group">
          <input type="password" name="password_confirmation" required [(ngModel)]="form.password_confirmation" />
          <label>Confirmer Mot de passe</label>
      </div>
      <!-- nom validation end here -->
      <div class="alert alert-feedback">
          <div class="lert" [hidden]="!error.password_confirmation">
            {{error.password_confirmation}}
          </div>
      </div>
      <!--END NOM-->


      <div  class="lert" [hidden]="!error">
        {{error.errors}}
      </div>
       

        <button type="submit" class="btn" [disabled]="!RestPassForm.valid">Modifier le mot de passe </button>
      </form>
    </div>
  </div>
</div>

