<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Compte Admin</h5>
                
                </div>

                <form #f="ngForm" (ngSubmit)="loginadmin(f)" class="row g-3 needs-validation">

                  <div class="col-12">
                    <label class="form-label">E-mail</label>
                    <div class="input-group has-validation">
                     
                      <input type="email" class="form-control" id="email"  required #email="ngModel" ngModel>
                    
                    </div>
                  </div>

                  <div class="col-12">
                    <label  class="form-label">Mot de passe</label>
                    <input id="password" type="password" class="form-control" name="password"  required #password="ngModel" ngModel>
                  </div>

                  <div class="alert alert-danger" *ngIf="messageAuthError">
                    {{messageAuthError}}
                </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Connexion</button>
                  </div>
                 
                </form>

              </div>
            </div>

         

          </div>
        </div>
      </div>

    </section>

  </div>
