<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="text-center">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
      </div>
      <form #RequestRestForm=ngForm (ngSubmit)="onSubmit()"  class="login100-form validate-form">
        
        <span class="login100-form-title p-b-26">
          <img class="mb-4" src="assets/beebeep.png" alt="" width="70" height="70">
        </span>

        <div class="form-group">
          <input type="email" name="email" required [(ngModel)]="form.email"/>
          <label>E-mail</label>
        </div>
        <!-- nom validation end here -->
        <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-feedback">
          <div class="lert" *ngIf="email.errors?.['required']">
            Veuillez choisir adresse email
          </div>
        </div> -->
        <button type="submit" class="btn">Modifier le mot Passe</button>
        <div class="text-center p-t-115">
          <span class="txt1">Vous n'avez pas encore de compte?</span>
          <a class="txt2" routerLink="/client/login">Inscrivez-vous</a>
        </div>
      </form>
    </div>
  </div>
</div>
