<section class="section dashboard">
  <div class="row">
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>Listes <b>Chauffeur</b></h2>
          </div>
          <div class="col-sm-4">
            <div class="search-box">
              <i class="material-icons">&#xE8B6;</i>
              <input type="text" class="form-control" placeholder="Search&hellip;">
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Nom & Prenom <i class="fa fa-sort"></i></th>
            <th>Email</th>
            <th>Gender</th>
            <th>Emplacement<i class="fa fa-sort"></i></th>
            <th>Type Vehicules</th>
            <th>Action<i class="fa fa-sort"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <!-- <tr *ngFor="let chauffeur of chauffeurs">
            <td>{{chauffeur.nom}} {{chauffeur.prenom}} </td>
            <td>{{chauffeur.email}}</td>
            <td>{{chauffeur.gendre}}</td>
            <!- <td><img class="card-img-top img-responsive" src="{{imageDirectoryPath}}{{chauffeur.imageCartCir}}" style="height:30px; width:30px" alt=""></td> -
          <td>{{chauffeur.emplacement}}</td>
          <td>{{chauffeur.type_vehicules}}</td> -->
            <td>
              <!-- <a class="view" title="View" data-toggle="tooltip" (click)="details(chauffeur.id)"><i class="material-icons">&#xE417;</i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
</section>